CORNINSPEC-DB/node_modules
CORNINSPEC-INTERFACE/node_modules
CORNINSPEC-PREDICT/__pycache__
CORNINSPEC-PREDICT/best_model
CORNINSPEC-PREDICT/venv
CORNINSPEC-PREDICT.code-workspace
CORNINSPEC-PREDICT_RESULT/node_modules